<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous">
    <title>Viajes</title>
</head>
<body>
<header class="header">
    <nav class="container">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="/viajes">Viajes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mascotas">Mascotas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lugares">Lugares</a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <div class="container">
        <h1 class="pb-2 mb-4 border-bottom">Lista de Viajes Programados</h1>
        <a href="/viajes/nuevo" class="btn btn-primary">Nuevo viaje</a>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Punto de recojo</th>
                <th>Cantidad de Persona</th>
                <th>Cantidad de Perros</th>
                <th>Selector de Personas</th>
                <th>Selector de Lugares</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="viaje : ${listaViajes}">
                <td th:text="${viaje.getPuntoRecojo()}"></td>
                <td th:text="${viaje.getCantPersonas()}"></td>
                <td th:text="${viaje.getCantPerros()}"></td>
                <td th:text="${viaje.getPersona().getNombre()}"></td>
                <td th:text="${viaje.getLugares().getNombreLugar()}"></td>
                <td>
                    <a th:href="@{'viajes/detalles' + '?id=' + ${viaje.getIdViajes()}}" class="btn btn-light">Ver más</a>
                    <a th:href="@{'viajes/editar' + '?id=' + ${viaje.getIdViajes()}}" class="btn btn-warning">Editar</a>
                    <a th:href="@{'viajes/borrar' + '?id=' + ${viaje.getIdViajes()}}" class="btn btn-danger">Borrar</a>
                </td>

            </tr>
            </tbody>
        </table>

    </div>
</main>

</body>
</html>